/* -----------共通部分------------ */
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 5px 0 8px;
  font-weight: bold;
  color: #fff;
}

.input-area,
.incomplete,
.complete {
  width: 600px;
}

@media screen and (max-width: 480px) {

  /* 480px以下に適用されるCSS（スマホ用） */
  .input-area,
  .incomplete,
  .complete {
    width: 90%;
  }

}

input,
textarea {
  border: 2px solid #fff;
}

input:focus,
textarea:focus {
  border: 2px solid #666;
}

textarea {
  resize: none;
}

/* -----------インプット------------ */
.input-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #dadfe0;
  height: auto;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.input-area input,
textarea {
  width: 80%;
  padding: 8px 10px;
  margin: 5px 0 10px;
  border-radius: 8px;
  outline: none;
  color: #666;
  font-size: 12px;
  font-family: monospace;
}

.input-area textarea {
  height: 100px;
}

.input-area input.detail {
  height: 40px;
  margin-bottom: 10px;
}

.input-area .button-area span {
  margin-right: 8px;
}

/* -----------未完了------------- */
.incomplete {
  background-color: #d4d4d4;
  min-height: 220px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.list-row {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  margin: 0 auto 20px;
  padding: 10px;
  background: #f2f2f2;
  color: #666;
  border-radius: 15px;
}

.title-area {
  width: 95%;
  height: 30px;
  display: flex;
  color: #666;
}

.title-area .index {
  display: flex;
  align-items: center;
  width: 5%;
  margin-right: 5px;
  font-size: 12px;
}

.title-area input.todotitle {
  width: 40%;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  margin-right: auto;
  background: #f2f2f2;
  border: none;
  color: #666;
}

.title-area input.todotitle:hover {
  opacity: 0.7;
}

.title-area input.todotitle:focus {
  opacity: 1;
  background: #fff;
}

.title-area .deadline {
  font-size: 10px;
  background: #fff;
  border-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 7px;
  margin-right: 5px;
}

.title-area .status {
  width: 25%;
  border-color: #fff;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
}

.detail-area {
  width: 92.5%;
  height: auto;
  min-height: 50px;
  display: flex;
  background: #fff;
  margin: 8px 0;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 11px;
}

.incomplete .button-area {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.button-area button {
  width: 90px;
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  background: #f2f2f2;
}

.button-area button:hover {
  background-color: #ff8a9d;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

/* 絞り込み */
.filter-status {
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  margin: 0px auto 10px;
}

.filter-status button {
  width: 20%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 15px;
  font-size: 10px;
}

.filter-status button:hover {
  background-color: #ff8a9d;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}


/* -----------完了------------ */
.complete {
  background-color: #b0b0b0;
  min-height: 220px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete .title-area {
  display: flex;
  justify-content: flex-start;
}

.complete .title-area .todotitle {
  margin-left: 10px;
}